@model Lamb_Ji_DAL.Actualite

@{
    ViewBag.Title = "Details";
}
<style>
    #myCarousel {
        display: none;
    }
</style>
<h2>Details</h2>

<div>
    <h4>Actualite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.actuTitre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actuTitre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actuTexte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actuTexte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actuImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actuImgUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.actuID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
