@model Lamb_Ji_ViewModel.ArbitreViewModel

@{
    ViewBag.Title = "Index";
}
<style>
    #myCarousel {
        display: none;
    }
</style>
<h2>Gestion des Arbitres</h2>
<div class="container" style="margin-top: 3%">
    <p>
        <button id="btnCreer" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>  Nouveau Arbitre</button>
    </p>

    <table class="table table-striped table-condensed" id="ArbitreTable" style="width:100%">
        <thead class="thead-dark">
            <tr>
                
                <th>Nom</th>
                <th>Addrese email</th>
                <th>Date de Naissance</th>
                <th>Edit</th>
                <th>Supp</th>

            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Nom</th>
                <th>Addrese email</th>
                <th>Date de Naissance</th>


            </tr>
        </tfoot>
    </table>
</div>


@*Creation du modal pour ajout et edit d'un lutteur*@


<div id="myModal" class="modal fade in">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" id="ModalTitle"></h3>
            </div>

            <div class="modal-body" style=" text-align:center">

                <form id="SubmitForm" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">
                    @Html.HiddenFor(model => model.ArbitreID, new { @id = "ArbtID" })

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.ArbitreName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ArbitreName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entrez le Nom.", @id = "ArbtName" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.ArbitreName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ArbitreEmail, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ArbitreEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entrer l'e-mail.", @id = "ArbtEmail" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.ArbitreEmail, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ArbitreDateNaissance, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ArbitreDateNaissance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entrer la date de naissance.", @id = "ArbtDateNaissance" } })
                                @Html.ValidationMessageFor(model => model.ArbitreDateNaissance, "", new { @class = "text-danger", @style = "margin-left: -145px" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.imageUrl, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <input id="ImageUpload" name="ImageUpload" class="form-control" type="file" />

                            </div>
                        </div>

                    </div>
                    <div style="text-align:center" id="chargement">
                        <img src="~/Images/tenor.gif" style="height:200px" />
                    </div>
                </form>

              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
                <button type="button" class="btn btn-primary" data-style="expand-left" id="SaveRecord" onclick="AddOrEdit()">Enregistrer</button>

            </div>

        </div>
    </div>
</div>

@*Create a popup for deleteConfirmation*@

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>Supprimer un Arbitre</h3>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(model => model.ArbitreID, new { @id = "ArbtID" })

                <h3>Êtes-vous sûr de vouloir supprimer cet arbitre?</h3>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal">Annuler</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirmer</a>

            </div>
        </div>
    </div>
</div>




@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            // DataTable
            var table = $('#ArbitreTable').DataTable({

                ajax: {
                    "type": "GET",
                    "url": "/Arbitre/GetArbitreList",
                    "datatype": "json",
                    "dataSrc": ""

                },

                columns: [
                    
                    { "data": "ArbitreName" },

                    {
                        "data": "ArbitreEmail",
                        'sortable': false,
                    },

                    {
                        "data": "ArbitreDateNaissance",
                        'sortable': false,
                        'render': function (jsonDate) {
                            var date = new Date(parseInt(jsonDate.substr(6)));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "/" + month + "/" + date.getFullYear();
                        }
                    },

                    {
                        "data": "ArbitreID",
                        'sortable': false,
                        "render": function (data) {
                            return '<a class="btn btn-primary btn-sm" onclick="EditArbitreRecord(' + data + ')"><i class="fa fa-pencil fa-lg"></i></a>';
                        }
                    },

                    {
                        "data": "ArbitreID",
                        'sortable': false,
                        "render": function (data) {
                            return '<a class="btn btn-danger btn-sm" onclick="DeleteArbitreRecord(' + data + ')"><i class="fa fa-trash fa-lg"></i></a >';
                        }
                    }
                ]
            });


            OpenModal();







        });


        //reset modal

        function OpenModal() {
            $("#btnCreer").click(function () {
                $('#ArbtName').val("");
                $('#ArbtEmail').val("");
                $('#ArbtDateNaissance').val("");
                $('#chargement').hide();
                $("#ModalTitle").html("Ajouter un Nouveau Arbitre");

            })
        }


        function AddOrEdit() {
            $.validator.unobtrusive.parse($('#SubmitForm'));
            if ($('#SubmitForm').valid()) {
                $('#chargement').show();


                var ArbtObj = {
                    ArbitreID: $('#ArbtID').val(),
                    ArbitreName: $('#ArbtName').val(),
                    ArbitreEmail: $('#ArbtEmail').val(),
                    ArbitreDateNaissance: $('#ArbtDateNaissance').val(),
                    imageUrl: $('#ImageUpload').val()
                };
                $.ajax({
                    url: "/Arbitre/SaveDataInDatabase",
                    data: JSON.stringify(ArbtObj),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#ArbitreTable').DataTable().ajax.reload();

                        toastr.info("Arbitre ajouté avec succés!!!....");
                        $('#myModal').modal('hide');
                    }

                });

            }
        }



        //Show the popup modal for edit lutteur
        function EditArbitreRecord(ArbitreID) {

            var url = "/Arbitre/GetArbitreById?ArbitreID=" + ArbitreID;
            $("#ModalTitle").html("Modifier un Arbitre");
            $('#chargement').hide();
            $("#myModal").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#ArbtID").val(obj.ArbitreID);
                    $("#ArbtName").val(obj.ArbitreName);
                    $("#ArbtEmail").val(obj.ArbitreEmail);
                    $("#ArbtDateNaissance").val(obj.ArbitreDateNaissance);
                    $("#ImageUpload").val(obj.imageUrl);


                }
            });

        }




        //Show popup modal for DeleteConfirmation
        function DeleteArbitreRecord(ArbitreID) {
            $("#ArbtID").val(ArbitreID);
            $("#DeleteConfirmation").modal("show");
        }
        function ConfirmDelete() {
            var ArbtId = $("#ArbtID").val();
            $.ajax({
                type: "POST",
                url: "/Arbitre/DeleteArbitreRecord?ArbitreID=" + ArbtId,
                success: function (result) {
                    if (result) {
                        $('#ArbitreTable').DataTable().ajax.reload();

                        toastr.info(" Arbitre Supprimé Avec Succés!.....");
                        $("#DeleteConfirmation").modal("hide");

                    }
                    else {
                        toastr.error("L'arbitre n'est pas Supprimé!.....");
                        $("#DeleteConfirmation").modal("hide");


                    }

                }
            });
        }





    </script>


}

