@model IEnumerable<Lamb_Ji_DAL.Affiche>

@{
    ViewBag.Title = "Calendrier des combats";
}

<h2 class="text-center">Liste des Combat à venir</h2>

<style>

    .circle-img {
        width: 250px;
        height: 250px;
        overflow: hidden;
    }

        .circle-img img {
            height: 100%;
            transform: translateX(-50%);
            margin-left: 50%;
        }

    hr {
        display: block;
        height: 2px;
        border: 0;
        border-top: 1px solid #0094ff;
        margin: 1em 0;
        padding: 0;
    }
</style>


@foreach (var item in Model)
{
    @*@Html.ActionLink("Edit", "Edit", new { id=item.AfficheID }) |
        @Html.ActionLink("Details", "Details", new { id=item.AfficheID }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.AfficheID })*@


    <hr />
    <div class="row">

        <div>
            <a href="@Url.Action("DetailsAfficheAvecAvis", "AfficheUser", new { id = item.AfficheID })"> <h2> @Html.DisplayFor(modelItem => item.AfficheNom)</h2></a>
        </div>
        <div class="col-md-4 how-img circle-img img-circle">
            @*<img src="https://senego.com/wp-content/uploads/2017/08/bombardier-b52.jpg" class="img-circle img-fluid" alt="" />*@
            <img class="img-responsive img-circle img-fluid" src="~/Images/Image-Affiche/@item.imageUrl" />

        </div>
        <div class="col-md-8">
            <div>
                @Html.DisplayFor(modelItem => item.Combat.Combat_Description)
            </div>
            <div>
                <h4> @Html.DisplayFor(modelItem => item.Lutteur.LutteurName)</h4>
                <span>VS</span>
                <h4> @Html.DisplayFor(modelItem => item.Lutteur1.LutteurName)</h4>
            </div>
            <p>
                le combat aura lieu le :
                @Html.DisplayFor(modelItem => item.DateCombat) au stade
                @Html.DisplayFor(modelItem => item.Combat.Stade.StadeName)
            </p>

        </div>
    </div>

}



